
.table-wrapper {
  @apply overflow-x-auto w-full;
}

table {
  @apply w-full;
}

thead {
  @apply table-header-group;
}

tr {
  @apply max-w-full block relative border-b-4 border-gray-100
    table-row border-b-0;
}

tr:last-child {
  @apply border-b-0;
}

th {
  @apply text-left py-2 px-3;
}

td {
  @apply table-cell text-left py-2 px-3 align-middle border-b-0;
}

tr:nth-child(odd) td {
  @apply bg-gray-50;
}

td:last-child {
  @apply border-b-0;
}

tbody tr:hover td {
  @apply bg-gray-100;
}

.table-pagination {
  @apply px-6 py-3 border-t border-gray-100;
}