@import "./_tailwind.css";
@import "./_colors.css";
@import "./_navbar.css";
@import "./_table.css";
@import "./_checkInput.css";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  #login-back{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}